.CTATProblemSolving {
  flex-direction: column;
}
.CTATProblemSolving > div,
.CTATSolution {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#writeFractionStep {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.fraction {
  padding: 5px;
  display: flex;
  flex-flow: column;
}
#F1,
#F2 {
  margin: 2px 5px;
  width: 34px;
  height: 30px;
  font-size: 20px;
}
.fractionBar {
  width: 100%;
}
.CTATTextInput > input[type="text"] {
  text-align: center;
}
.CTATNumberLine {
  width: 100%;
  max-width: 650px;
}
.numberOfParts {
  margin: 15px;
  width: 120px;
  padding-top: 15px;
}
